## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0, 101), 80)
print(sample_list_1)

[54, 11, 74, 8, 78, 9, 56, 20, 16, 40, 22, 55, 23, 59, 96, 60, 95, 90, 91, 38, 81, 32, 53, 13, 72, 24, 3, 82, 92, 39, 71, 62, 65, 33, 25, 85, 99, 66, 86, 5, 21, 43, 88, 89, 50, 15, 10, 93, 42, 7, 97, 35, 46, 98, 29, 63, 80, 28, 68, 0, 83, 17, 4, 52, 73, 70, 57, 94, 30, 44, 31, 18, 45, 37, 19, 87, 34, 41, 51, 2]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []

for _ in range(80):
    sample_list_2.append(random.randrange(0,100))
    
print(sample_list_2)

[77, 82, 78, 4, 15, 99, 35, 93, 72, 48, 87, 27, 77, 55, 44, 32, 7, 74, 60, 28, 5, 26, 54, 30, 59, 27, 92, 22, 23, 21, 48, 74, 75, 75, 51, 71, 95, 56, 84, 49, 87, 83, 32, 74, 32, 78, 44, 51, 85, 71, 59, 65, 90, 98, 45, 50, 37, 55, 24, 16, 22, 6, 34, 92, 65, 19, 26, 84, 15, 35, 94, 10, 22, 94, 92, 86, 84, 87, 13, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set({})

for element in set1:
    if element not in set2:
        set3.add(element)
        
print(set3)

{0, 2, 3, 8, 9, 11, 17, 18, 20, 25, 29, 31, 33, 38, 39, 40, 41, 42, 43, 46, 52, 53, 57, 62, 63, 66, 68, 70, 73, 80, 81, 88, 89, 91, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set({})

for element in set2:
    if element not in set1:
        set4.add(element)
        
print(set4)

{6, 75, 77, 48, 49, 84, 26, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set({})

for element in set1:
    if element in set2:
        set5.add(element)
        
print(set5)

{4, 5, 7, 10, 13, 15, 16, 19, 21, 22, 23, 24, 28, 30, 32, 34, 35, 37, 44, 45, 50, 51, 54, 55, 56, 59, 60, 65, 71, 72, 74, 78, 82, 83, 85, 86, 87, 90, 92, 93, 94, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

'''Set3 son los elementos únicos del set1 que no comparte con el set2'''
print(set3 == set1 - set5)
'''Set4 son los elementos únicos del set2 que no comparte con el set1'''
print(set4 == set2 - set5)
'''Set5 son los elementos comunes entre el set1 y set2'''
print(set5 == set1 - set3 == set2 - set4)

True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set({})

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3, set5)
print(set6)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 68, 70, 71, 72, 73, 74, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

union1 = set3.union(set4, set5)
union2 = set1.union(set2)
print(union1 == union2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

print(set1)

set1.pop()

print(set1)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 68, 70, 71, 72, 73, 74, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 68, 70, 71, 72, 73, 74, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1_copy = set1.copy()

for element in set1:
    if element in list_to_remove:
        set1_copy.remove(element)
        
print(set1_copy)

{2, 3, 4, 5, 7, 8, 10, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 65, 66, 68, 70, 72, 73, 74, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}